$backgroundColor :  #4b367c
$headerColor : #0e9dd9
$attentionColor : #ff9d35
$activeColor: #049e0c
$headerHeight : 50px

@function Hover($c)
  @return lighten($c, 8)


@function Active($c)
  @return lighten($c, 20)

=SimpleInteractive($baseColor)
  &:hover
    background-color: Hover($baseColor)
  &:active
    background-color: Active($baseColor)
    color: gray

body
  font-family: 'Droid Sans', sans-serif
  background: $backgroundColor

header#main-menu
  z-index: 1
  background: $headerColor
  position: fixed
  top: 0
  height: $headerHeight
  width: 100%

.header-contents
  max-width: 960px
  margin: auto

.site-title
  font-family: 'Passion One', cursive
  float: left
  font-size: 2em
  color: #EEE
  text-shadow: 0 3px 0px black
  margin: 5px 10px

.display-settings
  float: right
  margin-right: 10px

.display-option
  font-size: 0.8em
  float: left
  display: block
  background: $attentionColor
  width: 55px
  padding: 5px 0
  text-align: center
  margin-top: 12px
  margin-right: 2px
  cursor: pointer
  color: white
  +SimpleInteractive($attentionColor)
  &.selected
    background-color: Active($attentionColor)
    color: gray
    cursor: default

.stream-list-container
  max-width: 960px
  margin: $headerHeight auto 0
  padding: 1em 0
  display: flex
  flex-wrap: wrap
  justify-content: center

.twitch-container
  width: 300px
  background: #e6e9ef
  margin: 2em 10px
  
$statusHeight: 20px

.status-bar
  padding: $statusHeight / 4
  background: gray
  height: $statusHeight
  
%arrow
  float: right
  margin-top: $statusHeight/4.5
  margin-right: 5px
  border-width: $statusHeight/2
  border-style: solid
  border-color: transparent
  cursor: pointer

.sort-up-arrow
  @extend %arrow
  border-top-width: 0
  border-bottom-color: $backgroundColor
  &:hover
    border-bottom-color: Hover($backgroundColor)
  &:active
    border-bottom-color: Active($backgroundColor)

.sort-down-arrow
  @extend %arrow
  border-top-color: $backgroundColor
  border-bottom-width: 0
  &:hover
    border-top-color: Hover($backgroundColor)
  &:active
    border-top-color: Active($backgroundColor)
  
.clear
  float: right
  display: block
  width: $statusHeight
  height: $statusHeight
  position: relative
  transform: rotate(-45deg)
  &::before, &::after 
    position: absolute
    left: $statusHeight/2
    content: ''
    height: $statusHeight
    width: 3px
    background-color: $backgroundColor
  &::after
    transform: rotate(-90deg)
  &:hover
    &::before, &::after
      background-color: Hover($backgroundColor)
  &:active
    &::before, &::after
      background-color: Active($backgroundColor)

.stream-icon
  width: 100%
  
.channel-info
  height: 9.5em
  padding: 0.75em 0 1.5em
  text-align: center
  
.stream-name
  font-size: 2em
  text-transform: capitalize
  
.stream-status
  color: gray
  font-style: italic
  height: 3.5em
  overflow: hidden
  margin: 0.5em 1em
  
.stream-link
  display: inline-block
  text-decoration: none
  box-sizing: border
  border: 1px solid gray
  color: gray
  padding: 1em
  width: 50%
  
.offline
  .status-bar, .stream-link
    background: $headerColor
  .stream-link
    +SimpleInteractive($headerColor)
    color: white
    
.active
  .status-bar
    position: relative
    &::after
      display: block
      box-sizing: border-box
      border: 1px solid darken($activeColor,12)
      background: radial-gradient(lighten($activeColor,12), darken($activeColor,15))
      position: absolute
      width: $statusHeight
      height: $statusHeight
      content: ''
      left: $statusHeight / 4
      top: $statusHeight / 4
      border-radius: 100%
      animation: Blink 1.5s ease-out alternate infinite
  .status-bar, .stream-link
    background: $activeColor
  .stream-link
    +SimpleInteractive($activeColor)
    color: white
    
@keyframes Blink
  from
    opacity: 0.5
  to
    opacity: 1

.add-stream-overlay
  display: none
  position: fixed
  z-index: 1
  top: 0
  width: 100%
  height: 100vh
  background: rgba(0,0,0,0.8)

.add-stream-menu
  min-width: 300px
  width: 50%
  max-width: 500px
  background: $headerColor
  margin: 0 auto
  padding: 1.5em 1em
  text-align: center
  input
    width: 70%
    margin-right: 10px
    padding: 5px
  #submit
    position: relative
    top: 1px
    background: $attentionColor
    padding: 5px 10px
  p.error
    color: red
    font-style: italic
    margin-bottom: 0

$buttonSize: 90px
.add-stream
  position: fixed
  width: $buttonSize
  height: $buttonSize
  text-align: center
  font-size: 3em
  line-height: $buttonSize
  color: white
  border-radius: 100%
  background: $attentionColor
  bottom: 5%
  right: 5%
  +SimpleInteractive($attentionColor)